*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container-form{
    /* border: 1px solid red; */
    margin-top: 30px;
}
#form{
    width: 60%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}